__pycache__
*.pyc
*.pyo
*.pyd
*.log
db.sqlite3
*.sqlite
.git
.gitignore


/.venv/
/.idea/
.idea
/client/config.json
/client/app/node_modules
/client/app/dist-electron
/server/.run/server_Dockerfile.run.xml
/test/fail-to-reach/config.json
